html{
	background-color:#fff;
	color:#383838;}
#documenter_sidebar #documenter_logo{background-color: #ee1c24; background-image:url('../jamcity.png');border-bottom: 1px solid #9d1318;}
a{color:#1b6574; text-decoration: underline; }
.btn {
	border-radius:3px;
	text-decoration: none;
}
em { font-style: italic; }
.btn-primary {
	  background-image: -moz-linear-gradient(top, #2bb6d3, #1b6574);
	  background-image: -ms-linear-gradient(top, #2bb6d3, #1b6574);
	  background-image: -webkit-gradient(linear, 0 0, 0 2bb6d3%, from(#343838), to(#1b6574));
	  background-image: -webkit-linear-gradient(top, #2bb6d3, #1b6574);
	  background-image: -o-linear-gradient(top, #2bb6d3, #1b6574);
	  background-image: linear-gradient(top, #2bb6d3, #1b6574);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2bb6d3', endColorstr='#1b6574', GradientType=0);
	  border-color: #1b6574 #1b6574 #bfbfbf;
	  color:#FFFFFF;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  border-color: #2bb6d3 #2bb6d3 #bfbfbf;
  background-color: #1b6574;
}
hr{border-top:1px solid #D4D4D4;border-bottom:1px solid #FFFFFF;}
#documenter_sidebar, #documenter_sidebar ul a{background-color:#343838;color:#FFFFFF;}
#documenter_sidebar ul a{-webkit-text-shadow:1px 1px 0px #494F4F;-moz-text-shadow:1px 1px 0px #494F4F;text-shadow:1px 1px 0px #494F4F; text-decoration: none;}
#documenter_sidebar ul{border-top:1px solid #212424; margin-top: 0;}
#documenter_sidebar ul a{border-top:1px solid #494F4F;border-bottom:1px solid #212424;color:#FFFFFF;}
#documenter_sidebar ul a:hover{background:#333636;color:#f45d63;border-top:1px solid #333636;}
#documenter_sidebar ul a.current{background:#333636;color:#f45d63;border-top:1px solid #333636;}
#documenter_copyright{display:block !important;visibility:visible !important;}