body {
 border-top:10px solid #AD7FA8;
 color:#2E3436;
 font-family:'Georgia', serif;
 font-size:13px;
 margin:0;
 padding:0;
}

a {
 border-bottom:1px solid #75507B;
 color:#AD7FA8;
 text-decoration:none;
}

p {
 line-height:1.7em;
 margin-bottom:1.7em;
}

ul, ol {
 margin-bottom:1.7em;
 margin-left:.8em;
}

ul li, ol li {
 line-height:1.7em;
}

pre {
 background-color:#EEEEEC;
 font-size:11px;
 margin-bottom:1.7em;
 padding:5px;
}

.clear {
 clear:both;
}

.light {
 color:#D3D7CF;
}

.wrapper {
 margin:30px auto;
 width:960px;
}

#colOne, #colTwo {
 float:left;
}

#colOne {
 width:342px;
 margin-right:30px;
}

#colTwo {
 width:588px;
}

.selectDisplay {
 font-size:11px;
 margin-top:5px;
}

.medicine {
 display:table;
 list-style:none;
 margin:0 auto;
 padding:0;
 text-align:center;
}

.pill {
 display:inline;
}

.pill a {
 background-image:url('pillBG.png');
 border-style:solid;
 border-color:#BABDB6;
 color:#888A85;
 cursor:pointer;
 display:block;
 float:left;
 font-size:11px;
 font-family:'Arial', 'Helvetica', Sans;
 line-height:11px;
 padding:5px;
}

.pill.left a {
 border-width:1px;
 border-radius:2px 0 0 2px;
 -moz-border-radius:2px 0 0 2px;
 -webkit-border-radius:2px 0 0 2px;
}

.pill.center a {
 border-width:1px 1px 1px 0;
 margin-left:1px
}

.pill.right a {
 border-width:1px 1px 1px 0;
 border-radius:0 2px 2px 0;
 -moz-border-radius:0 2px 2px 0;
 -webkit-border-radius:0 2px 2px 0;
 margin-left:1px;
}

.pill:hover a {
 border-color:#AD7FA8;
 border-width:1px;
 color:#555753;
 margin-left:0;
}

.pill.ui-tabs-selected {
 font-weight:bold;
}

.heading {
 display:block;
 font-family:'Gentium', 'Georgia', Serif;
 font-size:26px;
 margin-bottom:10px;
}

.heading img {
 display:inline;
}

.sub {
 display:block;
 font-family:'Georgia', Serif;
 font-size:20px;
 margin-bottom:5px;
}

.ui-tabs .ui-tabs-hide {
 display: none;
}

.download {
 background-image:url('download.png');
 background-repeat:no-repeat;
 background-position:2px;
 border:0;
 display:inline-block;
 font-family:'Arial', 'Helvetica', Sans;
 margin:10px 0 0 10px;
 padding-left:21px;
}

#footer {
 background-color:#AD7FA8;
 color:#5C3566;
 font-family:'Arial', 'Helvetica', Sans;
 font-size:12px;
 line-height:18px;
 text-align:right;
 text-shadow:0 1px 1px rgba(255,255,255,.25);
 width:100%;
}

#footer .wrapper {
 padding:10px;
 margin:0 auto;
}

#footer a {
 border:0;
 color:#5C3566;
 text-decoration:underline;
}

#footer img {
 display:inline;
 margin-bottom:-4px; /* It's a hack. */
}
